body {text-align: center; background-color: lemonchiffon;}
h1 {color: brown; font-family: serif; background-color: sandybrown; font-size: 38px; border-color: sienna; border: 16px solid black;}
nav {text-align: center; font-family: monospace; font-size: 16px;}
a {color: purple; font-family: monospace;}
